input, textarea {
  max-width:100%
}

/*** General Body Elements ***/
body {
max-width: 900px;
font-size: 20px;
font-family: open sans, monospace, monospace;
color: #000000;
background-color:  #dddddd;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
color: #528c29;
font-size: 25px;
}

h2 {
color: #528c29;
font-size: 17px;
}


a {
color: #0000ff;
text-decoration: none;
}

a:hover {
color:#228B22;
}


a.one:link {
color: #606060;
}
a.one:hover {
color: #005000;
}
a.two:link {
color: #066106;
}
a.two:hover {
color: #1cac1c;
}


#navigation {
float: auto;
clear: left;
background-color: #c7c7c7;
border: solid 1px #000;
}
ul { padding-left: 0.25em; }

#navigation ul {
list-style-type: none;	
padding-left: 0.25em;			
}

#navigation a {
background-color: #c7c7c7;
display: block;
}

#navigation a:hover {
color:#528c29;
background-color: #c7c7c7;
}
